@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
  .FullScreenBg  {
    background-image: url("./assets/bg.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
  }
  .chefBg {
    background-image: url("./assets/herobg.jpg"); 
    background-size: cover;
    background-position: center;
    height: 100%;
  }
  .LoginBg {
    background-image: url("./assets/loginbg.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
  }
  .heroBg {
    background-image: url("./assets/images.jpeg");
    background-size: cover;
    background-position: center;
    height: 100%;
  }

}